@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: rgb(14, 0, 19);
  height: 15vh;
}

.navbrand {
  color: rgb(255, 255, 255) !important;
  /* font-family: sans-serif wide !important; */
  font-weight: 900;
  display: flex !important;
  font-size: 2em;
}
.navbrandsubtext {
  color: rgb(173, 173, 173) !important;
  /* font-family: Arial, Helvetica, sans-serif !important; */
  font-weight: 500;
  display: flex !important;
  font-size: 0.6em;
  margin-left: 5px;
  margin-top: 5px;

}
.navbrand:hover {
  color: rgb(238, 6, 6) !important;
}

.navlink {
  color: rgb(173, 173, 173) !important;
  font-size: 1.2em !important;
}

.navlink:hover {
  color: rgb(114, 29, 234) !important;
}

.home {
  /* background-image: url('/src/assets/home-bg.jpeg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.home-imagebox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 137px;
  width: 308px;
  margin-top: 50px;
}

.home-button-style {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button {
  background-color: rgb(92, 0, 128) !important;
  border-color:  rgb(92, 0, 128) !important;
  border-radius: 30px !important;
  font-weight: 700 !important;
  padding: '0.75rem 1.5rem' !important;
  width: 200px;
  height: 60px;
  margin-top: -250px;
}

.home-button:hover {
  background-color: rgb(255, 255, 255) !important;
  border-color:  rgb(30, 30, 30)  !important;
  color: rgb(92, 0, 128) !important;
  font-weight: 700 !important;
}

.home-background {
  background-color: rgb(17, 0, 23);
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.photogallery-bg {
  background-color: rgb(17, 0, 23);
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.photogallery-text {
  margin-top: '10px';
  color: rgb(129, 129, 129);
  font-size: x-large;
  line-height: 1.7;
  font-style: italic;
  font-weight: 600;
  text-align: justify;
}

.photogallery-card {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.home-team {
  background-image: url('/src/assets/cicada2024/1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

#home-video {
  width: 100vw;
   height: 100vh;
   object-fit: cover;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
}

.home-paragraphtext {
  margin-top: '10px';
  color: rgb(129, 129, 129);
  font-size: x-large;
  line-height: 1.7;
  font-style: italic;
  font-weight: 600;
  text-align: justify;
}

.home-aboutustext {
  margin-top: '10px';
  color: rgb(129, 129, 129);
  background-color: #8e35ca2b;
  font-size: x-large;
  line-height: 1.7;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

.whatwedotitle {
  color: rgb(255, 255, 255) !important;
  font-size: 40px !important;
  font-weight: 900 !important;
  margin-top: 50px;
  text-align: center;
}

.whatwedotext {
  color: rgb(129, 129, 129) !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  margin-top: 2px;
  text-align: center;
}

.photogallery-button {
  background-color: rgb(199, 4, 4) !important;
  border-color:  rgb(131, 0, 0) !important;
  border-radius: 30px !important;
  font-weight: 700 !important;
  padding: '0.75rem 1.5rem' !important;
  width: 240px;
  height: 60px;
  margin-top: -250px;
}

.photogallery-button:hover {
  background-color: rgb(255, 255, 255) !important;
  border-color:  rgb(30, 30, 30)  !important;
  color: #5c0080 !important;
  font-weight: 700 !important;
}

.team-background {
  background-color:rgb(17, 0, 23);
  color:white;
}
.team-paragraphtext {
  /* font-family:'arial'; */
  margin-top: '10px';
  color: rgb(220, 194, 232);
  font-size: x-large;
  line-height: 1.7;
  font-style: italic;
  font-weight: 600;
  text-align: justify;
}

.photogallery-card {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.team-card {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.team-members {
  margin-top: '10px';
  color: rgb(129, 129, 129);
  background-color: #8e35ca2b;
  font-size: x-large;
  line-height: 1.7;
  font-weight: 600;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.685);
  border-radius: 15px;
}

.technozzare-page {
  background-color: rgb(17, 0, 23);
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}